/* ======================
Typography
====================== */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
/* Cartis beautyful */
@font-face {
  font-family: 'Cartis Beautyful';
  src: url('./fonts/cartis beautyful/Cartis Beautyful serif.ttf');
}

/* Caviar dreams */
@font-face {
  font-family: 'Caviar dreams';
  src: url('./fonts/caviar dreams/CaviarDreams.ttf');
}

/* Posterman */
@font-face {
  font-family: 'Posterman';
  src: url('./fonts/posterman/Posterman_PERSONAL_USE_ONLY.otf');
}

:root {

--font-poppins: 'Poppins', sans-serif;
--font-raleway: 'Raleway', sans-serif;
--font-posterman : 'Posterman', sans-serif;
--font-caviardreams : 'Caviar dreams', sans-serif;
--font-cartisbeautyful : 'Cartis Beautyful', sans-serif;

}

/* ======================
Typography (Ends)
====================== */

*, ::after, ::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-raleway);
  font-weight: 300;
}

a, a:visited , a:focus, a:hover {
  all: none;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}